.container {
	overflow: hidden;
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	width: 0;
	transition: 0.2s width step-end;
}
.containerVisible {
	width: 300px;
	transition: 0s all linear;
}

.nav {
	height: 100%;
	width: 300px;
	background: #fff;
	box-sizing: border-box;
	border-right: 1px solid #ccc;

	transform: translateX(-300px);
	transition: 0.2s all ease-out;
}
.nav a, .nav a:active, .nav a:visited{
	color: inherit;
}
.navVisible{
	transform: translateX(0px);
}
.active {
	font-weight: bold;
}

.btn {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 6px;
	background: #fff;
	border: 1px solid #ccc;
	z-index: 100;
	cursor: pointer;
}