.newUserFormContainer {
	display: flex;
	justify-content: center;
	padding-top: 24px;
	padding-bottom: 24px;
}

.newUserForm {
	flex: 0 1 80%;
	max-width: 600px;
}

.newUserControls {
	padding-top: 24px;
}